section{
    width: 650px;
    background-color: white;
    float: left;
}

.portfolio{
    width: 610px;
    background-color: white;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

.image_label {
    color: white;
    position: absolute;
    text-align: center;
    bottom: 5px;
    width: 100%;
    background:#4aaaa7;  /* Transparency */
    padding: 12px 0 12px 0;
  }
  .image_label a {
      color: white;
      
  }

  .image_box {
    background-color: #fafafa;
    height: 200px;
    width: 285px;
    border-color: #eaeaea;
    display: inline-block;
    position: relative;
    margin: 7px;
  }
  .image_thumbnail {
    object-fit: cover;       /* Scale the image so it covers whole area, thus will likely crop */
    object-position: center; /* Center the image within the element */
    height: 200px;
    width: 285px;
    position: absolute;
  }

  section hr {
    width: 610px;
    margin-bottom: 20px;
}
section h2 {
    margin-left: 20px;
}
div.connect{
    margin-bottom: 770px;
}




@media screen and (max-width: 980px) {
    main{
        width:90%;
        display: block;
        margin: auto;
    }

    section{
        width: 60%;
        margin-right: 0;
    }
    section hr {
        width: 90%;
        margin-bottom: 20px;
    }
    .portfolio{
        width: 90%;
        background-color: white;
        float: none;
        margin: auto;
        margin-bottom: 20px;
        padding-left: 0px;
    }
    
      .image_box {
        background-color: #fafafa;
        height: 250px;
        width: 100%;
        border-color: #eaeaea;
        /* display: inline-block;
        position: relative; */
        margin: auto;
        margin-bottom: 15px;
      }
      .image_thumbnail {
        object-fit: cover;       /* Scale the image so it covers whole area, thus will likely crop */
        object-position: center; /* Center the image within the element */
        height: 250px;
        width: 100%;
        position: absolute;
        margin: auto;
      }
      div.connect{
        margin-bottom: 1460px;
    }

}

@media screen and (max-width: 768px){
    section{
        width: 100%;
        background-color: white;
        float: none;
        margin-bottom: 30px;
    }
    
    .portfolio{
        width: 90%;
        background-color: white;
        float: none;
        margin: auto;
        margin-bottom: 20px;
        padding-left: 20px;
    }
    
      .image_box {
        background-color: #fafafa;
        height: 200px;
        width: 48%;
        border-color: #eaeaea;
        display: inline-block;
        position: relative;
        margin: auto;
        margin-bottom: 15px;
      }
      .image_thumbnail {
        object-fit: cover;       /* Scale the image so it covers whole area, thus will likely crop */
        object-position: center; /* Center the image within the element */
        height: 200px;
        width: 100%;
        position: absolute;
        margin: auto;
      }
    
      section hr {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    section h2 {
        margin-left: 20px;
    }
    div.connect {
        margin-bottom: 90px;
    }

}



@media screen and (max-width: 640px){
    section{
        width: 100%;
        background-color: white;
        float: none;
        margin-bottom: 30px;
    }
    
    .portfolio{
        width: 95%;
        background-color: white;
        float: none;
        margin: auto;
        margin-bottom: 20px;
        padding-left: 0px;
    }
    
    .image_label {
        color: white;
        position: absolute;
        text-align: center;
        bottom: 5px;
        width: 100%;
        background:#4aaaa7;  /* Transparency */
        padding: 12px 0 12px 0;
      }
      .image_box {
        background-color: #fafafa;
        height: 250px;
        width: 95%;
        border-color: #eaeaea;
        display: block;
        position: relative;
        margin: auto;
        margin-bottom: 15px;
      }
      .image_thumbnail {
        object-fit: cover;       /* Scale the image so it covers whole area, thus will likely crop */
        object-position: center; /* Center the image within the element */
        height: 250px;
        width: 100%;
        position: absolute;
        margin: auto;
      }
    
      section hr {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    section h2 {
        margin-left: 20px;
    }
}